.image {
    margin: auto;
  width: 400px;
  height: 250px;
    
}
.recipe{
background-color: rgb(255, 255, 255);
text-align: center;
padding: auto;
}
.cards {
  grid-auto-rows: auto;
  justify-content: space-evenly;
  margin: 8rem;
  }
.button{
justify-content: space-around;
}
 