.nav{
    display: flex;
    background-color: rgb(40, 38, 38);
    z-index: 2147483647;
    position: sticky;
    top:0
}
.navtext{
    display: flex;
    position: sticky;
    justify-content: center;
    top: 0%;
    color: rgb(228, 215, 215);
    
}